<fieldset>
    <legend>Cadastro de Novos comédias</legend>
    <form>
        <div class="form-group">
            <label for="username">Nome: </label>
            <input type="text" name="username" id="username" ng-model="user.username">
        </div>
        <div class="form-group">
            <label for="password">Senha: </label>
            <input type="password" name="password" id="password" ng-model="user.password">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="save(user)">Enviar</button>
        </div>
    </form>
</fieldset>
<a ng-href="#/">Voltar</a>