<!DOCTYPE html>
<html>
  <head>
  <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <meta charset="utf-8">
    <title>Welcome to our wonderfull api</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col s8 l6 offset-s2 offset-l3">
        <div class="card" id="message-change">
            <div class="card-image">
              <img src="http://syaochan.com/blog/wp-content/uploads/2014/06/borat-thumbs-up-very-nice.jpg">
              <span class="card-title">Enjoy!!</span>
            </div>
            <div class="card-content">
              <!-- table.responsive-table>thead>tr>th*3^(tr>th*3)*5 -->
              <table class="responsive-table">
                <thead>
                  <tr>
                    <th data-field="path">Path</th>
                    <th data-field="verb">Verb</th>
                    <th data-field="pathIn0">Inf0</th>
                  </tr>
                </thead>
                <tr>
                  <th>/api</th>
                  <th>GET</th>
                  <th>Docs as we are =)</th>
                </tr>
                <tr>
                  <th>/api/</th>
                  <th>POST</th>
                  <th>user pesistence require username and password as parameter</th>
                </tr>
                <tr>
                  <th>/api/authenticate</th>
                  <th>GET / POST</th>
                  <th>return user lifetime token require : username and password as parameter</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </table>
            </div>
            <div class="card-action">
              <a href="#">GIT HUB</a>
            </div>
            <div class="card-action">
              <a href="#">REQUEST TOKEN</a>
            </div>
          </div>
      </div>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
   <script type="text/javascript">

   </script>
  </body>

</html>
